<form>

  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" name="name" [(ngModel)]="newUser.name"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo</label>
    <input type="text"  name="email" [(ngModel)]="newUser.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Número</label>
    <input type="text"  name="tlf" [(ngModel)]="newUser.tlf" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
</form>
